<a href="https://colab.research.google.com/github/mohit579-pixel/SL-3/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

In [13]:
import numpy as np
import pandas as pd

student_names = ['John', 'Alice', 'Bob', 'Eva', 'Charlie', 'Olivia', 'Daniel', 'Sophia', 'David', 'Emma',
                 'James', 'Grace', 'William', 'Ava', 'Michael', 'Chloe', 'Matthew', 'Emily', 'Jacob', 'Mia',
                 'Benjamin', 'Ella', 'Christopher', 'Aiden', 'Liam', 'Zoe', 'Samuel', 'Lily', 'Logan', 'Lucy',
                 'Jackson', 'Avery', 'Elijah', 'Harper', 'Daniel', 'Isabella', 'Sebastian', 'Mila', 'Alexander', 'Scarlett']

df = pd.DataFrame(
    {
        'Student_id': np.arange(1, 41),
        'Name': student_names,
        'Dept': np.random.choice(['CS', 'IT', 'AI&DS'], 40),
        'Admission_year': np.random.choice([2023, 2022, 2021], 40),
        'Class': np.random.choice(['TE', 'SE'], 40),
        'Result': np.random.choice(['Distinction', 'First class', 'Second Class'], 40),
        'Placed': np.random.choice(['Yes', 'No'], 40)
    }
)

df

    Student_id         Name   Dept  Admission_year Class        Result Placed
0            1         John     CS            2021    TE   First class    Yes
1            2        Alice  AI&DS            2021    SE  Second Class    Yes
2            3          Bob  AI&DS            2022    SE   Distinction     No
3            4          Eva  AI&DS            2021    TE   First class    Yes
4            5      Charlie     CS            2023    TE   First class    Yes
5            6       Olivia  AI&DS            2021    TE   First class     No
6            7       Daniel     CS            2022    SE   First class     No
7            8       Sophia     IT            2023    SE   Distinction    Yes
8            9        David  AI&DS            2021    SE  Second Class     No
9           10         Emma     CS            2021    TE  Second Class     No
10          11        James  AI&DS            2022    SE   First class     No
11          12        Grace     CS            2023    TE   First class     No
12          13      William     CS            2022    SE   First class     No
13          14          Ava  AI&DS            2022    SE   Distinction     No
14          15      Michael     CS            2021    SE   Distinction    Yes
15          16        Chloe  AI&DS            2022    SE   Distinction     No
16          17      Matthew     CS            2022    TE  Second Class     No
17          18        Emily     IT            2021    TE   Distinction    Yes
18          19        Jacob     IT            2023    SE  Second Class     No
19          20          Mia     IT            2022    TE  Second Class     No
20          21     Benjamin     IT            2023    SE   Distinction     No
21          22         Ella  AI&DS            2022    SE   First class    Yes
22          23  Christopher     IT            2023    TE  Second Class    Yes
23          24        Aiden     CS            2023    SE   Distinction     No
24          25         Liam     IT            2021    TE   First class     No
25          26          Zoe  AI&DS            2023    TE  Second Class    Yes
26          27       Samuel     IT            2022    TE   Distinction    Yes
27          28         Lily  AI&DS            2022    SE   Distinction     No
28          29        Logan     IT            2023    SE   First class     No
29          30         Lucy     IT            2021    TE   Distinction     No
30          31      Jackson  AI&DS            2022    SE   First class     No
31          32        Avery  AI&DS            2021    SE   Distinction    Yes
32          33       Elijah     IT            2023    SE   First class     No
33          34       Harper     CS            2023    SE   First class     No
34          35       Daniel     CS            2021    TE  Second Class    Yes
35          36     Isabella     IT            2021    SE   Distinction     No
36          37    Sebastian  AI&DS            2022    TE  Second Class    Yes
37          38         Mila     IT            2023    SE   Distinction    Yes
38          39    Alexander     IT            2023    TE   First class     No
39          40     Scarlett  AI&DS            2023    TE   First class    Yes

In [14]:
# df.to_csv('student_data.csv', index=False)
df

    Student_id         Name   Dept  Admission_year Class        Result Placed
0            1         John     CS            2021    TE   First class    Yes
1            2        Alice  AI&DS            2021    SE  Second Class    Yes
2            3          Bob  AI&DS            2022    SE   Distinction     No
3            4          Eva  AI&DS            2021    TE   First class    Yes
4            5      Charlie     CS            2023    TE   First class    Yes
5            6       Olivia  AI&DS            2021    TE   First class     No
6            7       Daniel     CS            2022    SE   First class     No
7            8       Sophia     IT            2023    SE   Distinction    Yes
8            9        David  AI&DS            2021    SE  Second Class     No
9           10         Emma     CS            2021    TE  Second Class     No
10          11        James  AI&DS            2022    SE   First class     No
11          12        Grace     CS            2023    TE   First class     No
12          13      William     CS            2022    SE   First class     No
13          14          Ava  AI&DS            2022    SE   Distinction     No
14          15      Michael     CS            2021    SE   Distinction    Yes
15          16        Chloe  AI&DS            2022    SE   Distinction     No
16          17      Matthew     CS            2022    TE  Second Class     No
17          18        Emily     IT            2021    TE   Distinction    Yes
18          19        Jacob     IT            2023    SE  Second Class     No
19          20          Mia     IT            2022    TE  Second Class     No
20          21     Benjamin     IT            2023    SE   Distinction     No
21          22         Ella  AI&DS            2022    SE   First class    Yes
22          23  Christopher     IT            2023    TE  Second Class    Yes
23          24        Aiden     CS            2023    SE   Distinction     No
24          25         Liam     IT            2021    TE   First class     No
25          26          Zoe  AI&DS            2023    TE  Second Class    Yes
26          27       Samuel     IT            2022    TE   Distinction    Yes
27          28         Lily  AI&DS            2022    SE   Distinction     No
28          29        Logan     IT            2023    SE   First class     No
29          30         Lucy     IT            2021    TE   Distinction     No
30          31      Jackson  AI&DS            2022    SE   First class     No
31          32        Avery  AI&DS            2021    SE   Distinction    Yes
32          33       Elijah     IT            2023    SE   First class     No
33          34       Harper     CS            2023    SE   First class     No
34          35       Daniel     CS            2021    TE  Second Class    Yes
35          36     Isabella     IT            2021    SE   Distinction     No
36          37    Sebastian  AI&DS            2022    TE  Second Class    Yes
37          38         Mila     IT            2023    SE   Distinction    Yes
38          39    Alexander     IT            2023    TE   First class     No
39          40     Scarlett  AI&DS            2023    TE   First class    Yes

In [16]:
for column in df.columns[1:]:
    random_indices = np.random.choice(df.index, size=5, replace=False)
    df.loc[random_indices, column] = np.nan
df

    Student_id         Name   Dept  Admission_year Class        Result Placed
0            1         John     CS          2021.0    TE   First class    Yes
1            2        Alice  AI&DS          2021.0    SE  Second Class    NaN
2            3          Bob  AI&DS          2022.0    SE   Distinction     No
3            4          Eva  AI&DS          2021.0    TE   First class    Yes
4            5      Charlie     CS          2023.0    TE   First class    Yes
5            6       Olivia  AI&DS          2021.0   NaN   First class     No
6            7       Daniel     CS          2022.0    SE   First class     No
7            8       Sophia     IT          2023.0    SE   Distinction    Yes
8            9        David  AI&DS          2021.0    SE  Second Class     No
9           10         Emma     CS          2021.0    TE  Second Class     No
10          11        James  AI&DS          2022.0   NaN   First class     No
11          12          NaN     CS          2023.0    TE   First class     No
12          13          NaN     CS             NaN    SE   First class    NaN
13          14          Ava  AI&DS          2022.0    SE   Distinction    NaN
14          15          NaN    NaN          2021.0    SE   Distinction    Yes
15          16        Chloe  AI&DS          2022.0    SE   Distinction     No
16          17          NaN     CS          2022.0    TE  Second Class     No
17          18        Emily     IT          2021.0    TE   Distinction    Yes
18          19        Jacob     IT             NaN   NaN  Second Class     No
19          20          Mia     IT          2022.0    TE           NaN     No
20          21     Benjamin     IT          2023.0    SE   Distinction     No
21          22         Ella  AI&DS          2022.0    SE   First class    Yes
22          23  Christopher    NaN          2023.0    TE  Second Class    Yes
23          24        Aiden     CS          2023.0    SE   Distinction     No
24          25         Liam     IT          2021.0    TE   First class     No
25          26          Zoe  AI&DS          2023.0    TE           NaN    Yes
26          27       Samuel     IT          2022.0    TE   Distinction    Yes
27          28         Lily    NaN             NaN    SE           NaN     No
28          29        Logan     IT          2023.0    SE   First class     No
29          30         Lucy     IT          2021.0    TE   Distinction     No
30          31          NaN  AI&DS          2022.0    SE   First class     No
31          32        Avery  AI&DS          2021.0    SE   Distinction    Yes
32          33       Elijah     IT          2023.0   NaN   First class     No
33          34       Harper    NaN             NaN   NaN   First class     No
34          35       Daniel     CS          2021.0    TE           NaN    NaN
35          36     Isabella     IT          2021.0    SE   Distinction    NaN
36          37    Sebastian  AI&DS          2022.0    TE  Second Class    Yes
37          38         Mila     IT             NaN    SE           NaN    Yes
38          39    Alexander    NaN          2023.0    TE   First class     No
39          40     Scarlett  AI&DS          2023.0    TE   First class    Yes