<a href="https://colab.research.google.com/github/mohit579-pixel/SL-3/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("/content/drive/MyDrive/SL-3/Ass3/Employee_Salary_Dataset.csv")

In [5]:
df

    ID  Experience_Years  Age  Gender    Salary
0    1                 5   28  Female    250000
1    2                 1   21    Male     50000
2    3                 3   23  Female    170000
3    4                 2   22    Male     25000
4    5                 1   17    Male     10000
5    6                25   62    Male   5001000
6    7                19   54  Female    800000
7    8                 2   21  Female      9000
8    9                10   36  Female     61500
9   10                15   54  Female    650000
10  11                 4   26  Female    250000
11  12                 6   29    Male   1400000
12  13                14   39    Male   6000050
13  14                11   40    Male    220100
14  15                 2   23    Male      7500
15  16                 4   27  Female     87000
16  17                10   34  Female    930000
17  18                15   54  Female   7900000
18  19                 2   21    Male     15000
19  20                10   36    Male    330000
20  21                15   54    Male   6570000
21  22                 4   26    Male     25000
22  23                 5   29    Male   6845000
23  24                 1   21  Female      6000
24  25                 4   23  Female      8900
25  26                 3   22  Female     20000
26  27                 1   18    Male      3000
27  28                27   62  Female  10000000
28  29                19   54  Female   5000000
29  30                 2   21  Female      6100
30  31                10   34    Male     80000
31  32                15   54    Male    900000
32  33                20   55  Female   1540000
33  34                19   53  Female   9300000
34  35                16   49    Male   7600000

In [12]:
# Select only the numerical columns from the DataFrame
numeric_columns = df.select_dtypes(include=['int', 'float'])

# Calculate the mean for the numerical columns
mean_numeric = numeric_columns.mean()
mean_numeric

ID                  1.800000e+02
Experience_Years    9.200000e+01
Age                 3.548571e+02
Salary              2.059147e+07
dtype: float64

In [13]:
df['Salary'].mean()

2059147.142857143

In [16]:
numeric_columns = df.select_dtypes(include=['int', 'float']).mean(axis=1)[0:4]
# df.mean(axis=1)[0:4]
numeric_columns

0    62508.50
1    12506.00
2    42507.25
3     6257.00
dtype: float64

In [ ]:
df.median(axis=1)[0:4]

In [ ]:
df.mode(axis=1)[0:4]

In [ ]:
df.std(axis=1)[0:4]

In [17]:
df.groupby(['Gender'])['Salary'].mean()

Gender
Female    2.054917e+06
Male      2.063626e+06
Name: Salary, dtype: float64

In [18]:
df.min()

ID                       1
Experience_Years         1
Age                     17
Gender              Female
Salary                3000
dtype: object

In [19]:
df1=df.select_dtypes(include=['int64'])

In [ ]:
df1

In [20]:
range_df=df1.max()-df1.min()
range_df

ID                       34
Experience_Years         26
Age                      45
Salary              9997000
dtype: int64

In [23]:
gender_col=df['Gender']
gender_col

0     Female
1       Male
2     Female
3       Male
4       Male
5       Male
6     Female
7     Female
8     Female
9     Female
10    Female
11      Male
12      Male
13      Male
14      Male
15    Female
16    Female
17    Female
18      Male
19      Male
20      Male
21      Male
22      Male
23    Female
24    Female
25    Female
26      Male
27    Female
28    Female
29    Female
30      Male
31      Male
32    Female
33    Female
34      Male
Name: Gender, dtype: object

In [24]:
from sklearn.preprocessing import OneHotEncoder

In [26]:
enc=OneHotEncoder()

In [27]:
enc_data = enc.fit_transform(df[['Gender']])

In [30]:
feature_names = enc.get_feature_names_out(['Gender'])
feature_names

array(['Gender_Female', 'Gender_Male'], dtype=object)

In [32]:
feature_names
dense_matrix = enc_data.toarray()
dense_matrix

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.]])

In [35]:
enc_df = pd.DataFrame(dense_matrix, columns=feature_names)
enc_df
df3 = pd.concat([df.select_dtypes(include=['int64']), enc_df], axis=1)
df3

    ID  Experience_Years  Age    Salary  Gender_Female  Gender_Male
0    1                 5   28    250000            1.0          0.0
1    2                 1   21     50000            0.0          1.0
2    3                 3   23    170000            1.0          0.0
3    4                 2   22     25000            0.0          1.0
4    5                 1   17     10000            0.0          1.0
5    6                25   62   5001000            0.0          1.0
6    7                19   54    800000            1.0          0.0
7    8                 2   21      9000            1.0          0.0
8    9                10   36     61500            1.0          0.0
9   10                15   54    650000            1.0          0.0
10  11                 4   26    250000            1.0          0.0
11  12                 6   29   1400000            0.0          1.0
12  13                14   39   6000050            0.0          1.0
13  14                11   40    220100            0.0          1.0
14  15                 2   23      7500            0.0          1.0
15  16                 4   27     87000            1.0          0.0
16  17                10   34    930000            1.0          0.0
17  18                15   54   7900000            1.0          0.0
18  19                 2   21     15000            0.0          1.0
19  20                10   36    330000            0.0          1.0
20  21                15   54   6570000            0.0          1.0
21  22                 4   26     25000            0.0          1.0
22  23                 5   29   6845000            0.0          1.0
23  24                 1   21      6000            1.0          0.0
24  25                 4   23      8900            1.0          0.0
25  26                 3   22     20000            1.0          0.0
26  27                 1   18      3000            0.0          1.0
27  28                27   62  10000000            1.0          0.0
28  29                19   54   5000000            1.0          0.0
29  30                 2   21      6100            1.0          0.0
30  31                10   34     80000            0.0          1.0
31  32                15   54    900000            0.0          1.0
32  33                20   55   1540000            1.0          0.0
33  34                19   53   9300000            1.0          0.0
34  35                16   49   7600000            0.0          1.0

2.Problem Statement

In [36]:
from sklearn.datasets import load_iris


iris = load_iris()
iris
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]